$colors-neutral-white: #FFFFFF;
$colors-neutral-black: #000000;

$colors-brand-color-1-500: #FFDC02;
$colors-brand-color-1-600: #FCD410;
$colors-brand-color-1-700: #FEBC1F;
$colors-brand-color-1-800: #A8842C;
$colors-brand-color-1-900: #914d00;